@font-face {
    font-family: papyrus;
    src: url(papyrus.ttf);
}

html, body {
    margin:0;
    font-family: 'Times New Roman';
    overflow: hidden;
    cursor: url(hand.ani);
}

.pupil {
    position: absolute;
    z-index: -50;
}

.eye {
    position: absolute;
    z-index: -50;
}

h1 {
    font-size: 400%;
    text-align:center;
    font-family: 'papyrus';
}

p {
    color:black;
    font-size: 200%;
}

a {
    text-decoration: none;
    color:black;
}

h1:hover {
}

.canette img{
    width: 40%;
    height: auto;
}

.canette {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.break {
    flex-basis: 100%;
    height: 0;
}